<%- partial('header') %>
  <% posts.forEach(function(post, index) { %>
    <p><h2><a href="/posts/<%= post.id %>"><%= post.title%></a></h2></p>
    <p class="info">
      作者: <a href="/user/<%= post.name %>"><%= post.name%></a>  |
      日期: <%= post.create_at %>
      标签：<% post.tags.forEach(function(tag, index) { %>
              <% if(tag) { %>
                <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>>
              <% } %>
            <%  }) %> 
    </p>
    <p><%- post.text %></p>
  <% }) %>
<%- partial('footer') %>­